.App {
  font-family: sans-serif;
  text-align: center;
}

.autocomplete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

#search-input {
  width: 300px;
}

.autocomplete-results {
  display: block;
  text-align: left;
  border: 2px solid black;
  max-height: 400px;
  overflow: scroll;
  width: 300px;
}

.suggestion-result {
  padding: 2px;
  cursor: pointer;
}

.suggestion-result:hover {
  background-color: lightblue;
  cursor: pointer;
}
